1. Scarica i prezzi giornalieri (adjusted close) per 10 anni di un titolo a tua scelta e inseriscili in un dataframe. 
2. Calcola la media mobile semplice a 30 giorni e inseriscila nel dataframe.
3. Crea una nuova colonna del dataframe che dice se il prezzo di oggi è maggiore alla media mobile. 
4. Crea una nuova colonna del dataframe che:
* per i giorni in cui la colonna precedente passa da False a True, scrive il prezzo col segno negativo (simula un acquisto)
* per i giorni in cui la colonna precedente passa da True a False, scrive il prezzo col segno positivo (simula una vendita)
* gli altri giorni metti il valore 0
5. Controlla che se la nuova colonna inizia con una vendita allora finisca con un acquisto, mentre se inizia con un acquisto allora finiosca con una vendita. Se non è così, metti a 0 l'ultimo valore diverso da 0.
6. Calcola la somma di quest'ultima colonna per vedere se la tua attività di trading è stata proficua oppure no.
7. Rifai i punti 2-6 per la media mobile esponenziale.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use("seaborn")
import yfinance as yf

In [2]:
#1. Scarica i prezzi giornalieri (adjusted close) per 10 anni di un titolo a tua scelta e inseriscili in un dataframe.
tsla=yf.download("TSLA", start="2011-10-15", end="2021-10-15")

[*********************100%***********************]  1 of 1 completed

In [3]:
tsla.head(21)

             Open   High    Low  Close  Adj Close    Volume
Date
2011-10-14  5.600  5.710  5.452  5.610      5.610   7002500
2011-10-17  5.572  5.600  5.452  5.484      5.484   3772500
2011-10-18  5.460  5.686  5.342  5.668      5.668   4998500
2011-10-19  5.604  5.612  5.460  5.514      5.514   3964500
2011-10-20  5.488  5.494  5.400  5.468      5.468   4998500
2011-10-21  5.480  5.660  5.402  5.606      5.606   5713000
2011-10-24  5.574  5.778  5.550  5.710      5.710   4703000
2011-10-25  5.646  5.772  5.560  5.650      5.650   3272000
2011-10-26  5.638  5.674  5.480  5.596      5.596   2552500
2011-10-27  5.668  5.790  5.622  5.752      5.752   4347000
2011-10-28  5.700  6.000  5.602  5.974      5.974   6320000
2011-10-31  5.900  5.902  5.750  5.874      5.874   5670000
2011-11-01  5.678  5.784  5.600  5.776      5.776   3176000
2011-11-02  5.800  5.852  5.650  5.742      5.742   4376500
2011-11-03  6.000  6.498  5.906  6.492      6.492  12548500
2011-11-04  6.292  6.480  6.102  6.462      6.462  15164500
2011-11-07  6.328  6.400  6.150  6.254      6.254   6331500
2011-11-08  6.274  6.400  6.144  6.368      6.368   5839500
2011-11-09  6.174  6.298  6.060  6.176      6.176   4768500
2011-11-10  6.188  6.300  6.130  6.266      6.266   3736500
2011-11-11  6.380  6.900  6.114  6.728      6.728  19341500

In [4]:
#2. Calcola la media mobile semplice a 30 giorni e inseriscila nel dataframe.
tsla.loc[:,"SMA30"]=tsla["Adj Close"].rolling(window=30, min_periods=20).mean()

In [5]:
tsla.head(21)

             Open   High    Low  Close  Adj Close    Volume     SMA30
Date
2011-10-14  5.600  5.710  5.452  5.610      5.610   7002500       NaN
2011-10-17  5.572  5.600  5.452  5.484      5.484   3772500       NaN
2011-10-18  5.460  5.686  5.342  5.668      5.668   4998500       NaN
2011-10-19  5.604  5.612  5.460  5.514      5.514   3964500       NaN
2011-10-20  5.488  5.494  5.400  5.468      5.468   4998500       NaN
2011-10-21  5.480  5.660  5.402  5.606      5.606   5713000       NaN
2011-10-24  5.574  5.778  5.550  5.710      5.710   4703000       NaN
2011-10-25  5.646  5.772  5.560  5.650      5.650   3272000       NaN
2011-10-26  5.638  5.674  5.480  5.596      5.596   2552500       NaN
2011-10-27  5.668  5.790  5.622  5.752      5.752   4347000       NaN
2011-10-28  5.700  6.000  5.602  5.974      5.974   6320000       NaN
2011-10-31  5.900  5.902  5.750  5.874      5.874   5670000       NaN
2011-11-01  5.678  5.784  5.600  5.776      5.776   3176000       NaN
2011-11-02  5.800  5.852  5.650  5.742      5.742   4376500       NaN
2011-11-03  6.000  6.498  5.906  6.492      6.492  12548500       NaN
2011-11-04  6.292  6.480  6.102  6.462      6.462  15164500       NaN
2011-11-07  6.328  6.400  6.150  6.254      6.254   6331500       NaN
2011-11-08  6.274  6.400  6.144  6.368      6.368   5839500       NaN
2011-11-09  6.174  6.298  6.060  6.176      6.176   4768500       NaN
2011-11-10  6.188  6.300  6.130  6.266      6.266   3736500  5.872100
2011-11-11  6.380  6.900  6.114  6.728      6.728  19341500  5.912857

In [6]:
# Cancel the NANs
tsla=tsla.dropna()
tsla.head(21)

             Open   High    Low  Close  Adj Close    Volume     SMA30
Date
2011-11-10  6.188  6.300  6.130  6.266      6.266   3736500  5.872100
2011-11-11  6.380  6.900  6.114  6.728      6.728  19341500  5.912857
2011-11-14  6.600  6.708  6.524  6.644      6.644   6628500  5.946091
2011-11-15  6.584  6.880  6.546  6.786      6.786   4455000  5.982609
2011-11-16  6.696  7.000  6.680  6.988      6.988   9166000  6.024500
2011-11-17  6.900  6.980  6.638  6.736      6.736   6746500  6.052960
2011-11-18  6.728  6.822  6.508  6.520      6.520   4514000  6.070923
2011-11-21  6.488  6.488  6.210  6.352      6.352   5158000  6.081333
2011-11-22  6.352  6.558  6.210  6.414      6.414   3663000  6.093214
2011-11-23  6.352  6.410  6.250  6.290      6.290   2259000  6.100000
2011-11-25  6.310  6.482  6.216  6.332      6.332   1198000  6.107733
2011-11-28  6.400  6.656  6.362  6.512      6.512   3406000  6.137800
2011-11-29  6.498  6.614  6.326  6.350      6.350   2955500  6.166667
2011-11-30  6.500  6.586  6.444  6.548      6.548   3801500  6.196000
2011-12-01  6.514  6.798  6.396  6.520      6.520   5151000  6.229533
2011-12-02  6.566  6.738  6.480  6.660      6.660   4014000  6.269267
2011-12-05  6.706  7.000  6.686  6.884      6.884   5800500  6.311867
2011-12-06  6.840  6.996  6.806  6.974      6.974   4759000  6.354000
2011-12-07  6.926  6.978  6.760  6.838      6.838   3371500  6.393600
2011-12-08  6.168  6.330  5.922  6.178      6.178  16529000  6.413000
2011-12-09  6.108  6.224  6.056  6.208      6.208   6197500  6.428200

In [7]:
#3. Crea una nuova colonna del dataframe che dice se il prezzo di oggi è maggiore alla media mobile.
tsla.loc[:,"SMABigger"]=tsla["Adj Close"]>tsla["SMA30"]

C:\Users\Laura\anaconda3\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [8]:
tsla.head(21)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger
Date,,,,,,,,
2011-11-10,6.188,6.300,6.130,6.266,6.266,3736500,5.872100,True
2011-11-11,6.380,6.900,6.114,6.728,6.728,19341500,5.912857,True
2011-11-14,6.600,6.708,6.524,6.644,6.644,6628500,5.946091,True
2011-11-15,6.584,6.880,6.546,6.786,6.786,4455000,5.982609,True
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True
2011-11-25,6.310,6.482,6.216,6.332,6.332,1198000,6.107733,True
2011-11-28,6.400,6.656,6.362,6.512,6.512,3406000,6.137800,True
2011-11-29,6.498,6.614,6.326,6.350,6.350,2955500,6.166667,True
2011-11-30,6.500,6.586,6.444,6.548,6.548,3801500,6.196000,True
2011-12-01,6.514,6.798,6.396,6.520,6.520,5151000,6.229533,True
2011-12-02,6.566,6.738,6.480,6.660,6.660,4014000,6.269267,True
2011-12-05,6.706,7.000,6.686,6.884,6.884,5800500,6.311867,True
2011-12-06,6.840,6.996,6.806,6.974,6.974,4759000,6.354000,True
2011-12-07,6.926,6.978,6.760,6.838,6.838,3371500,6.393600,True
2011-12-08,6.168,6.330,5.922,6.178,6.178,16529000,6.413000,False
2011-12-09,6.108,6.224,6.056,6.208,6.208,6197500,6.428200,False

In [9]:
tsla.loc[:,"SimpleAvgPosition"] = ""

C:\Users\Laura\anaconda3\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [10]:
tsla.head(21)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition
Date,,,,,,,,,
2011-11-10,6.188,6.300,6.130,6.266,6.266,3736500,5.872100,True,
2011-11-11,6.380,6.900,6.114,6.728,6.728,19341500,5.912857,True,
2011-11-14,6.600,6.708,6.524,6.644,6.644,6628500,5.946091,True,
2011-11-15,6.584,6.880,6.546,6.786,6.786,4455000,5.982609,True,
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True,
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True,
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True,
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True,
2011-11-25,6.310,6.482,6.216,6.332,6.332,1198000,6.107733,True,
2011-11-28,6.400,6.656,6.362,6.512,6.512,3406000,6.137800,True,
2011-11-29,6.498,6.614,6.326,6.350,6.350,2955500,6.166667,True,
2011-11-30,6.500,6.586,6.444,6.548,6.548,3801500,6.196000,True,
2011-12-01,6.514,6.798,6.396,6.520,6.520,5151000,6.229533,True,
2011-12-02,6.566,6.738,6.480,6.660,6.660,4014000,6.269267,True,
2011-12-05,6.706,7.000,6.686,6.884,6.884,5800500,6.311867,True,
2011-12-06,6.840,6.996,6.806,6.974,6.974,4759000,6.354000,True,
2011-12-07,6.926,6.978,6.760,6.838,6.838,3371500,6.393600,True,
2011-12-08,6.168,6.330,5.922,6.178,6.178,16529000,6.413000,False,
2011-12-09,6.108,6.224,6.056,6.208,6.208,6197500,6.428200,False,

In [11]:
#passa da False a True, scrive il prezzo col segno negativo (simula un acquisto)
#populates the SimpleAvgPosition column
def shortlongsimple(df):
    for i in range(1,len(df)):
        if (tsla.iloc[i,7] == True) & (tsla.iloc[i-1,7] == False):
            tsla.iloc[i,8] = -1*tsla.iloc[i,3]   #mette il closevalue nella colonna simpleavgposition
        elif (tsla.iloc[i,7] == False) & (tsla.iloc[i-1,7] == True):
            tsla.iloc[i,8] = tsla.iloc[i,3]
        else:
            tsla.iloc[i,8] = 0

In [12]:
shortlongsimple(tsla)

C:\Users\Laura\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [13]:
tsla.head(21)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition
Date,,,,,,,,,
2011-11-10,6.188,6.300,6.130,6.266,6.266,3736500,5.872100,True,
2011-11-11,6.380,6.900,6.114,6.728,6.728,19341500,5.912857,True,0
2011-11-14,6.600,6.708,6.524,6.644,6.644,6628500,5.946091,True,0
2011-11-15,6.584,6.880,6.546,6.786,6.786,4455000,5.982609,True,0
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,0
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,0
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True,0
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True,0
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True,0
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True,0
2011-11-25,6.310,6.482,6.216,6.332,6.332,1198000,6.107733,True,0
2011-11-28,6.400,6.656,6.362,6.512,6.512,3406000,6.137800,True,0
2011-11-29,6.498,6.614,6.326,6.350,6.350,2955500,6.166667,True,0
2011-11-30,6.500,6.586,6.444,6.548,6.548,3801500,6.196000,True,0
2011-12-01,6.514,6.798,6.396,6.520,6.520,5151000,6.229533,True,0
2011-12-02,6.566,6.738,6.480,6.660,6.660,4014000,6.269267,True,0
2011-12-05,6.706,7.000,6.686,6.884,6.884,5800500,6.311867,True,0
2011-12-06,6.840,6.996,6.806,6.974,6.974,4759000,6.354000,True,0
2011-12-07,6.926,6.978,6.760,6.838,6.838,3371500,6.393600,True,0
2011-12-08,6.168,6.330,5.922,6.178,6.178,16529000,6.413000,False,6.178
2011-12-09,6.108,6.224,6.056,6.208,6.208,6197500,6.428200,False,0

In [14]:
tsla.iloc[0,8] = 0

C:\Users\Laura\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [15]:
tsla.head(21)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition
Date,,,,,,,,,
2011-11-10,6.188,6.300,6.130,6.266,6.266,3736500,5.872100,True,0
2011-11-11,6.380,6.900,6.114,6.728,6.728,19341500,5.912857,True,0
2011-11-14,6.600,6.708,6.524,6.644,6.644,6628500,5.946091,True,0
2011-11-15,6.584,6.880,6.546,6.786,6.786,4455000,5.982609,True,0
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,0
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,0
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True,0
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True,0
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True,0
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True,0
2011-11-25,6.310,6.482,6.216,6.332,6.332,1198000,6.107733,True,0
2011-11-28,6.400,6.656,6.362,6.512,6.512,3406000,6.137800,True,0
2011-11-29,6.498,6.614,6.326,6.350,6.350,2955500,6.166667,True,0
2011-11-30,6.500,6.586,6.444,6.548,6.548,3801500,6.196000,True,0
2011-12-01,6.514,6.798,6.396,6.520,6.520,5151000,6.229533,True,0
2011-12-02,6.566,6.738,6.480,6.660,6.660,4014000,6.269267,True,0
2011-12-05,6.706,7.000,6.686,6.884,6.884,5800500,6.311867,True,0
2011-12-06,6.840,6.996,6.806,6.974,6.974,4759000,6.354000,True,0
2011-12-07,6.926,6.978,6.760,6.838,6.838,3371500,6.393600,True,0
2011-12-08,6.168,6.330,5.922,6.178,6.178,16529000,6.413000,False,6.178
2011-12-09,6.108,6.224,6.056,6.208,6.208,6197500,6.428200,False,0

In [16]:
# 5. Controlla che se la nuova colonna inizia con una vendita allora finisca con un acquisto, mentre se inizia con un 
#funzione per guardare e capire quante posizione aperte sono long e quante sono short
def countShort(column):
    count = 0
    for i in range(len(tsla)):
        if (tsla.iloc[i,column]< 0):
            count = count+1
    return count

def countLong(column):
    count = 0
    for i in range(len(tsla)):
        if (tsla.iloc[i,column]> 0):
            count = count+1
    return count

In [17]:
# 5. Controlla che se la nuova colonna inizia con una vendita allora finisca con un acquisto, mentre se inizia con un 
#acquisto allora finiosca con una vendita. Se non è così, metti a 0 l'ultimo valore diverso da 0.
print(countShort(8))
print(countLong(8))

#Comentario: le posizione aperte e chiuse sono esattamente nella stessa quantita, quindi non bisogna cambiare niente nel DF

113
113

In [18]:
#6. Calcola la somma di quest'ultima colonna per vedere se la tua attività di trading è stata proficua oppure no.
# Trading basato sulla media mobile semplice non è stato proficuo
tradingSumSimpleAvg = tsla["SimpleAvgPosition"].sum()
print(tradingSumSimpleAvg)

-156.25987148284912

In [19]:
# 7. Rifai i punti 2-6 per la media mobile esponenziale. - punto 2
tsla.loc[:,"EMA30"]=tsla["Adj Close"].ewm(span=30, min_periods=5).mean()

C:\Users\Laura\anaconda3\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [20]:
tsla.head(6)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition,EMA30
Date,,,,,,,,,,
2011-11-10,6.188,6.300,6.130,6.266,6.266,3736500,5.872100,True,0,NaN
2011-11-11,6.380,6.900,6.114,6.728,6.728,19341500,5.912857,True,0,NaN
2011-11-14,6.600,6.708,6.524,6.644,6.644,6628500,5.946091,True,0,NaN
2011-11-15,6.584,6.880,6.546,6.786,6.786,4455000,5.982609,True,0,NaN
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,0,6.702272
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,0,6.708871

In [21]:
# Cancel the NANs
tsla=tsla.dropna()
tsla.head(6)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition,EMA30
Date,,,,,,,,,,
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,0,6.702272
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,0,6.708871
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True,0,6.676204
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True,0,6.625617
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True,0,6.595365
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True,0,6.554888

In [22]:
# 7. Rifai i punti 2-6 per la media mobile esponenziale. - punto 3
tsla.loc[:,"EMABigger"]=tsla["Adj Close"]>tsla["EMA30"]

In [23]:
tsla.head(21)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition,EMA30,EMABigger
Date,,,,,,,,,,,
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,0,6.702272,True
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,0,6.708871,True
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True,0,6.676204,False
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True,0,6.625617,False
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True,0,6.595365,False
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True,0,6.554888,False
2011-11-25,6.310,6.482,6.216,6.332,6.332,1198000,6.107733,True,0,6.527225,False
2011-11-28,6.400,6.656,6.362,6.512,6.512,3406000,6.137800,True,0,6.525441,False
2011-11-29,6.498,6.614,6.326,6.350,6.350,2955500,6.166667,True,0,6.505919,False
2011-11-30,6.500,6.586,6.444,6.548,6.548,3801500,6.196000,True,0,6.510392,True
2011-12-01,6.514,6.798,6.396,6.520,6.520,5151000,6.229533,True,0,6.511373,True
2011-12-02,6.566,6.738,6.480,6.660,6.660,4014000,6.269267,True,0,6.525990,True
2011-12-05,6.706,7.000,6.686,6.884,6.884,5800500,6.311867,True,0,6.560048,True
2011-12-06,6.840,6.996,6.806,6.974,6.974,4759000,6.354000,True,0,6.598258,True
2011-12-07,6.926,6.978,6.760,6.838,6.838,3371500,6.393600,True,0,6.619790,True
2011-12-08,6.168,6.330,5.922,6.178,6.178,16529000,6.413000,False,6.178,6.581091,False
2011-12-09,6.108,6.224,6.056,6.208,6.208,6197500,6.428200,False,0,6.549148,False
2011-12-12,6.088,6.124,6.004,6.082,6.082,3793500,6.431800,False,0,6.509978,False
2011-12-13,6.114,6.186,5.782,5.890,5.890,4970500,6.432333,False,0,6.458979,False
2011-12-14,5.900,5.936,5.600,5.706,5.706,5819500,6.430000,False,0,6.398120,False
2011-12-15,5.734,5.834,5.624,5.724,5.724,3501500,6.429400,False,0,6.344509,False

In [24]:
tsla.loc[:,"ExpAvgPosition"] = ""

In [25]:
tsla.head(21)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition,EMA30,EMABigger,ExpAvgPosition
Date,,,,,,,,,,,,
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,0,6.702272,True,
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,0,6.708871,True,
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True,0,6.676204,False,
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True,0,6.625617,False,
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True,0,6.595365,False,
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True,0,6.554888,False,
2011-11-25,6.310,6.482,6.216,6.332,6.332,1198000,6.107733,True,0,6.527225,False,
2011-11-28,6.400,6.656,6.362,6.512,6.512,3406000,6.137800,True,0,6.525441,False,
2011-11-29,6.498,6.614,6.326,6.350,6.350,2955500,6.166667,True,0,6.505919,False,
2011-11-30,6.500,6.586,6.444,6.548,6.548,3801500,6.196000,True,0,6.510392,True,
2011-12-01,6.514,6.798,6.396,6.520,6.520,5151000,6.229533,True,0,6.511373,True,
2011-12-02,6.566,6.738,6.480,6.660,6.660,4014000,6.269267,True,0,6.525990,True,
2011-12-05,6.706,7.000,6.686,6.884,6.884,5800500,6.311867,True,0,6.560048,True,
2011-12-06,6.840,6.996,6.806,6.974,6.974,4759000,6.354000,True,0,6.598258,True,
2011-12-07,6.926,6.978,6.760,6.838,6.838,3371500,6.393600,True,0,6.619790,True,
2011-12-08,6.168,6.330,5.922,6.178,6.178,16529000,6.413000,False,6.178,6.581091,False,
2011-12-09,6.108,6.224,6.056,6.208,6.208,6197500,6.428200,False,0,6.549148,False,
2011-12-12,6.088,6.124,6.004,6.082,6.082,3793500,6.431800,False,0,6.509978,False,
2011-12-13,6.114,6.186,5.782,5.890,5.890,4970500,6.432333,False,0,6.458979,False,
2011-12-14,5.900,5.936,5.600,5.706,5.706,5819500,6.430000,False,0,6.398120,False,
2011-12-15,5.734,5.834,5.624,5.724,5.724,3501500,6.429400,False,0,6.344509,False,

In [26]:
# 7. Rifai i punti 2-6 per la media mobile esponenziale. - punto 4
def shortlongexp(df):
    for i in range(1,len(df)):
        if (tsla.iloc[i,10] == True) & (tsla.iloc[i-1,10] == False):
            tsla.iloc[i,11] = -1*tsla.iloc[i,0]
            #print("false2tru")
        elif (tsla.iloc[i,10] == False) & (tsla.iloc[i-1,10] == True):
            tsla.iloc[i,11] = tsla.iloc[i,0]
            #print("true2fals")
        else:
            #print("0")
            tsla.iloc[i,11] = 0

In [27]:
shortlongexp(tsla)

In [28]:
tsla.head(21)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition,EMA30,EMABigger,ExpAvgPosition
Date,,,,,,,,,,,,
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,0,6.702272,True,
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,0,6.708871,True,0
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True,0,6.676204,False,6.728
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True,0,6.625617,False,0
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True,0,6.595365,False,0
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True,0,6.554888,False,0
2011-11-25,6.310,6.482,6.216,6.332,6.332,1198000,6.107733,True,0,6.527225,False,0
2011-11-28,6.400,6.656,6.362,6.512,6.512,3406000,6.137800,True,0,6.525441,False,0
2011-11-29,6.498,6.614,6.326,6.350,6.350,2955500,6.166667,True,0,6.505919,False,0
2011-11-30,6.500,6.586,6.444,6.548,6.548,3801500,6.196000,True,0,6.510392,True,-6.5
2011-12-01,6.514,6.798,6.396,6.520,6.520,5151000,6.229533,True,0,6.511373,True,0
2011-12-02,6.566,6.738,6.480,6.660,6.660,4014000,6.269267,True,0,6.525990,True,0
2011-12-05,6.706,7.000,6.686,6.884,6.884,5800500,6.311867,True,0,6.560048,True,0
2011-12-06,6.840,6.996,6.806,6.974,6.974,4759000,6.354000,True,0,6.598258,True,0
2011-12-07,6.926,6.978,6.760,6.838,6.838,3371500,6.393600,True,0,6.619790,True,0
2011-12-08,6.168,6.330,5.922,6.178,6.178,16529000,6.413000,False,6.178,6.581091,False,6.168
2011-12-09,6.108,6.224,6.056,6.208,6.208,6197500,6.428200,False,0,6.549148,False,0
2011-12-12,6.088,6.124,6.004,6.082,6.082,3793500,6.431800,False,0,6.509978,False,0
2011-12-13,6.114,6.186,5.782,5.890,5.890,4970500,6.432333,False,0,6.458979,False,0
2011-12-14,5.900,5.936,5.600,5.706,5.706,5819500,6.430000,False,0,6.398120,False,0
2011-12-15,5.734,5.834,5.624,5.724,5.724,3501500,6.429400,False,0,6.344509,False,0

In [30]:
tsla.iloc[0,11] = 0

In [31]:
tsla.head(21)

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition,EMA30,EMABigger,ExpAvgPosition
Date,,,,,,,,,,,,
2011-11-16,6.696,7.000,6.680,6.988,6.988,9166000,6.024500,True,0,6.702272,True,0
2011-11-17,6.900,6.980,6.638,6.736,6.736,6746500,6.052960,True,0,6.708871,True,0
2011-11-18,6.728,6.822,6.508,6.520,6.520,4514000,6.070923,True,0,6.676204,False,6.728
2011-11-21,6.488,6.488,6.210,6.352,6.352,5158000,6.081333,True,0,6.625617,False,0
2011-11-22,6.352,6.558,6.210,6.414,6.414,3663000,6.093214,True,0,6.595365,False,0
2011-11-23,6.352,6.410,6.250,6.290,6.290,2259000,6.100000,True,0,6.554888,False,0
2011-11-25,6.310,6.482,6.216,6.332,6.332,1198000,6.107733,True,0,6.527225,False,0
2011-11-28,6.400,6.656,6.362,6.512,6.512,3406000,6.137800,True,0,6.525441,False,0
2011-11-29,6.498,6.614,6.326,6.350,6.350,2955500,6.166667,True,0,6.505919,False,0
2011-11-30,6.500,6.586,6.444,6.548,6.548,3801500,6.196000,True,0,6.510392,True,-6.5
2011-12-01,6.514,6.798,6.396,6.520,6.520,5151000,6.229533,True,0,6.511373,True,0
2011-12-02,6.566,6.738,6.480,6.660,6.660,4014000,6.269267,True,0,6.525990,True,0
2011-12-05,6.706,7.000,6.686,6.884,6.884,5800500,6.311867,True,0,6.560048,True,0
2011-12-06,6.840,6.996,6.806,6.974,6.974,4759000,6.354000,True,0,6.598258,True,0
2011-12-07,6.926,6.978,6.760,6.838,6.838,3371500,6.393600,True,0,6.619790,True,0
2011-12-08,6.168,6.330,5.922,6.178,6.178,16529000,6.413000,False,6.178,6.581091,False,6.168
2011-12-09,6.108,6.224,6.056,6.208,6.208,6197500,6.428200,False,0,6.549148,False,0
2011-12-12,6.088,6.124,6.004,6.082,6.082,3793500,6.431800,False,0,6.509978,False,0
2011-12-13,6.114,6.186,5.782,5.890,5.890,4970500,6.432333,False,0,6.458979,False,0
2011-12-14,5.900,5.936,5.600,5.706,5.706,5819500,6.430000,False,0,6.398120,False,0
2011-12-15,5.734,5.834,5.624,5.724,5.724,3501500,6.429400,False,0,6.344509,False,0

In [32]:
# 7. Rifai i punti 2-6 per la media mobile esponenziale - punto 5
print(countShort(11))
print(countLong(11))

129
129

In [ ]:
#comentario: in questo caso qua, abbiamo una positione corta apperta, quindi bisogna trovare l'ultima posizione corta aperta 
# cioè l'ultima vendita e chiuderla, cioè toglierla. L'approcio sarà visuale.
tsla.tail(40)

def findLastShort():
    position = 0
    for i in range(len(tsla)):
        if (tsla.iloc[i,11]< 0):
            position = i
    return position

print(findLastShort())

#oservazione: after I ran this command once, the last negative value disappeared. but it existed before.

In [33]:
#risettare a zero
tsla.iloc[2460,11]=0
print(tsla.iloc[2460,11])
tsla.tail(40)

0

,Open,High,Low,Close,Adj Close,Volume,SMA30,SMABigger,SimpleAvgPosition,EMA30,EMABigger,ExpAvgPosition
Date,,,,,,,,,,,,
2021-08-19,678.210022,686.549988,667.590027,673.469971,673.469971,14313500,678.578660,False,673.469971,681.281617,False,678.210022
2021-08-20,682.849976,692.130005,673.700012,680.260010,680.260010,14781800,679.355660,True,-680.26001,681.215707,False,0
2021-08-23,685.440002,712.130005,680.750000,706.299988,706.299988,20264900,680.042326,True,0,682.834048,True,-685.440002
2021-08-24,710.679993,715.219971,702.640015,708.489990,708.489990,13083100,681.373993,True,0,684.489270,True,0
2021-08-25,707.030029,716.969971,704.000000,711.200012,711.200012,12645600,683.301326,True,0,686.212544,True,0
2021-08-26,708.309998,715.400024,697.619995,701.159973,701.159973,13214300,684.986660,True,0,687.176894,True,0
2021-08-27,705.000000,715.000000,702.099976,711.919983,711.919983,13762100,687.243327,True,0,688.773222,True,0
2021-08-30,714.719971,731.000000,712.729980,730.909973,730.909973,18604200,690.066327,True,0,691.491722,True,0
2021-08-31,733.000000,740.390015,726.440002,735.719971,735.719971,20855400,692.573659,True,0,694.345158,True,0
2021-09-01,734.080017,741.989990,731.270020,734.090027,734.090027,13204300,695.200328,True,0,696.909343,True,0
2021-09-02,734.500000,740.969971,730.539978,732.390015,732.390015,12777300,697.971328,True,0,699.198418,True,0
2021-09-03,732.250000,734.000000,724.200012,733.570007,733.570007,15246100,700.977661,True,0,701.415940,True,0
2021-09-07,740.000000,760.200012,739.260010,752.919983,752.919983,20039800,704.154327,True,0,704.738782,True,0
2021-09-08,761.580017,764.450012,740.770020,753.869995,753.869995,18793000,707.790660,True,0,707.908537,True,0
2021-09-09,753.409973,762.099976,751.630005,754.859985,754.859985,14077700,711.386660,True,0,710.937663,True,0
2021-09-10,759.599976,762.609985,734.520020,736.270020,736.270020,15114300,713.350661,True,0,712.572009,True,0
2021-09-13,740.210022,744.780029,708.849976,743.000000,743.000000,22952500,715.210661,True,0,714.535105,True,0
2021-09-14,742.570007,754.469971,736.400024,744.489990,744.489990,18524900,716.371328,True,0,716.467678,True,0
2021-09-15,745.000000,756.859985,738.359985,755.830017,755.830017,15357700,717.907662,True,0,719.007184,True,0
2021-09-16,752.830017,758.909973,747.609985,756.989990,756.989990,13923400,719.443329,True,0,721.457687,True,0
2021-09-17,757.150024,761.039978,750.000000,759.489990,759.489990,28204200,720.938662,True,0,723.911384,True,0
2021-09-20,734.559998,742.000000,718.619995,730.169983,730.169983,24757700,721.974329,True,0,724.315165,True,0
2021-09-21,734.789978,744.739990,730.440002,739.380005,739.380005,16330700,722.828328,True,0,725.287090,True,0
2021-09-22,743.530029,753.669983,739.119995,751.940002,751.940002,15126300,724.226662,True,0,727.006633,True,0
2021-09-23,755.000000,758.200012,747.919983,753.640015,753.640015,11947500,725.753996,True,0,728.724916,True,0
2021-09-24,745.890015,774.799988,744.559998,774.390015,774.390015,21373000,727.491996,True,0,731.671051,True,0
2021-09-27,773.119995,799.000000,769.309998,791.359985,791.359985,28070700,729.964996,True,0,735.521950,True,0
2021-09-28,787.200012,795.640015,766.179993,777.559998,777.559998,25381400,733.011330,True,0,738.234082,True,0
2021-09-29,779.799988,793.500000,770.679993,781.309998,781.309998,20942900,736.864663,True,0,741.013173,True,0
2021-09-30,781.000000,789.130005,775.000000,775.479980,775.479980,17956000,739.747662,True,0,743.236838,True,0
2021-10-01,778.400024,780.780029,763.590027,775.219971,775.219971,17031400,743.139329,True,0,745.300266,True,0
2021-10-04,796.500000,806.969971,776.119995,781.530029,781.530029,30483300,746.514996,True,0,747.637670,True,0
2021-10-05,784.799988,797.309998,774.200012,780.590027,780.590027,18432600,748.991331,True,0,749.763629,True,0
2021-10-06,776.200012,786.659973,773.219971,782.750000,782.750000,14632800,751.466665,True,0,751.891782,True,0
2021-10-07,785.460022,805.000000,783.380005,793.609985,793.609985,19195800,754.213664,True,0,754.583279,True,0
2021-10-08,796.210022,796.380005,780.909973,785.489990,785.489990,16711100,757.024664,True,0,756.577260,True,0
2021-10-11,787.650024,801.239990,785.500000,791.940002,791.940002,14200300,759.691998,True,0,758.858727,True,0
2021-10-12,800.929993,812.320007,796.570007,805.719971,805.719971,22020000,762.185665,True,0,761.882033,True,0
2021-10-13,810.469971,815.409973,805.780029,811.080017,811.080017,14120100,764.697666,True,0,765.056097,True,0
2021-10-14,815.489990,820.250000,813.349976,818.320007,818.320007,12247200,767.505332,True,0,768.492478,True,0

In [34]:
print(tsla.iloc[2460,11])

0

In [35]:
# 7. Rifai i punti 2-6 per la media mobile esponenziale - punto 6
# Trading basato sulla media mobile exponenziale e stato proficuo
tradingSumExpAvg = tsla["ExpAvgPosition"].sum()
print(tradingSumExpAvg)

414.4280209541321